
#tl_navigation .group-pdir {
    background: url(/bundles/pdirsocialfeed/img/pdir_logo.svg) 0 0 no-repeat;
    background-size: 18px 18px;
}

.be_socialfeed_setup a {
    color: #7abfbc;
}

.be_socialfeed_setup .right {
    float: right;
    width: 40%;
    margin: 15px 0;
}
.be_socialfeed_setup .left {
    float: left;
    width: 50%;
    margin: 15px 0;
}

.be_socialfeed_setup .logo {
    margin-bottom: 5px;
}

.be_socialfeed_setup h2 {
    margin-bottom: 10px;
}

.be_socialfeed_setup hr {
    width: 100%;
    margin: 20px auto;
}

.be_socialfeed_setup .devlog {
    margin: 10px 0;
}

.be_socialfeed_setup .link-list li {
    padding: 5px 0 5px 0;
}

.be_socialfeed_setup .feed .item {
    margin-bottom: 5px;
}

.be_socialfeed_setup .feed .item span {
    padding-right: 10px;
    color: #7abfbc;
}

.be_socialfeed_setup .button {
    float: left;
    text-align: center;
    margin-right: 25px;
}

.be_socialfeed_setup .kreis {
    width: 60px;
    padding: 13px;
    box-sizing: border-box;
    margin:auto;
}

.be_socialfeed_setup small {
    color: #cccccc;
}

.be_socialfeed_setup .api-status .blink {
    width: 15px;
    height: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #ACDA3D;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-left: 5px;
}

.be_socialfeed_setup .api-status .blink.red {
    background: #cc3d09;
}

.be_socialfeed_setup .debug-info {
    background: #ccc;
    color: #fff;
    padding: 10px;
    margin-top: 15px;
}

.be_socialfeed_setup .plus-logo {
    float: right;
}

.be_socialfeed_setup .high-plus {
    content: '';
    background: url(/bundles/pdirsocialfeed/img/icon_plus.svg) 0 0 no-repeat;
    background-size: 12px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

.be_socialfeed_setup .benefit {
    margin-top: 12px;
    line-height: 18px;
    list-style: none;
}

.be_socialfeed_setup .benefit li {
    margin-left: 20px;
}

.be_socialfeed_setup .benefit li:before {
    content: '';
    background: url(/bundles/pdirsocialfeed/img/icon_plus.svg) 0 0 no-repeat;
    background-size: 12px;
    height: 12px;
    width: 12px;
    display: inline-block;
    position: absolute;
    margin-left: -19px;
    margin-top: 3px;
}

.selectAll {
    margin: 15px 15px -5px;
    display: inline-block;
}

.selectAll input {
    margin-right: 5px;
}

a.header_socialFeedAccounts {
    background-size: 16px;
}

.header_sf_moderate {
    margin-left: 34px;
}

.header_sf_moderate:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -22px;
    background: url(/bundles/pdirsocialfeed/img/icon_fa_download-solid.svg) 0 0 no-repeat;
}

html[data-color-scheme="dark"] .header_sf_moderate:before {
    filter: invert(1);
}
