.social_feed_element {
  overflow: visible;
  padding: 0;
  width: 100%;

  &.extended {
    .inner {
      a {
        display: inline;
        padding: 0;
        color: rgb(27, 149, 224);

        &:hover {
          text-decoration: underline;
        }
      }

      > figure {
        padding: 0;
      }
    }

    a.more {
      padding: 0;
      font-size: 14px;
      color: rgb(27, 149, 224);
      font-weight: 700;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }

    .inner {
      padding: 0 20px 20px;
    }

    p {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .inner {
    background: #f2f2f2;
    padding: 0;
    margin: 30px 10px 10px;
    position: relative;
    word-break: break-word;
    border-top: 5px solid #c1c1c1;

    a {
      padding: 0 20px;
      display: block;
    }

    > figure {
      padding: 0 20px;
    }
  }

  .ce_text {
    padding: 15px 0;
    color: #333;
    margin: 0;
  }

  .icon {
    position: static;
    text-indent: 0;

    img {
      position: absolute;
      top: -20px;
      border-radius: 100%;
      max-width: 50px;
    }

    .image-wrapper:not(.loaded) {
      height: 0 !important;
    }
  }

  .info {
    margin: 0;
    padding: 10px 0 0;
    text-align: right;
    font-size: 14px;
    color: #989898;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      width: 15px;
      margin-left: 10px;
    }
  }

  .title {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 700;
    color: #333;
  }

  a {
    color: #333;
    text-decoration: none;
  }

  .ce_text {
    font-size: 14px;
  }

  .fa {
    font-size: 18px;
    padding-left: 5px;
  }

  .image_container > a {
    padding: 0;
  }
}

.social_feed_container {
  width: calc(100% + 30px);
  margin-left: -15px;
  font-family: sans-serif;

  &:not(.masonry) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    &.columns2 .social_feed_element {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    }

    &.columns3 .social_feed_element {
      -ms-flex: 0 0 33%;
      flex: 0 0 33%;
    }

    &.columns4 .social_feed_element {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
    }
  }
  &.masonry {
    &.columns2, &.columns3, &.columns4 {
      .social_feed_element {
        float: left;
      }
    }

    &.columns2 .social_feed_element {
      width: 50%;
    }

    &.columns3 .social_feed_element {
      width: 33.33%;
    }

    &.columns4 .social_feed_element {
      width: 25%;
    }
  }
}

@media (max-width:767px) {
  .social_feed_container {
    width: 100%;
    margin-left: 0;

    &:not(.masonry) {
      &.columns2, &.columns3, &.columns4 {
        .social_feed_element {
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
        }
      }
    }

    &.masonry {
      &.columns2, &.columns3, &.columns4 {
        .social_feed_element {
          float: none;
          width: 100%;
        }
      }
    }
  }
}